 * {
  box-sizing: border-box;
 }

.container {
  margin: auto;
  padding: 20px 15px;
  width: 50%;
  text-align: center;
  background-color: azure;
  box-shadow: 0px 4px 8px #D0C9C0;
}

.text-input {
  width: 85%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

.text-input:first-of-type {
  margin-top: 36px;
}
