<div class="list-container">
  <div class="list-item">
    <div class="item-header">
      <span class="item-column">1</span>
      <span class="item-column">-</span>
      <span class="item-column">M3</span>
      <hr>
    </div>
    <div class="expansion-container">
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel left-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Dolgozók
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">1 - Sanyi</p>
          <p class="expansion-item">2 - Roland</p>
          <p class="expansion-item">3 - Dominik</p>
        </mat-expansion-panel>
      </div>
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel right-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Feladatok
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">4 - Varás</p>
          <p class="expansion-item">2 - Fonás</p>
          <p class="expansion-item">10 - Rakás</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>







  <div class="list-item">
    <div class="item-header">
      <span class="item-column">1</span>
      <span class="item-column">-</span>
      <span class="item-column">M3</span>
      <hr>
    </div>
    <div class="expansion-container">
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel left-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Dolgozók
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">1 - Sanyi</p>
          <p class="expansion-item">2 - Roland</p>
          <p class="expansion-item">3 - Dominik</p>
        </mat-expansion-panel>
      </div>
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel right-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Feladatok
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">4 - Varás</p>
          <p class="expansion-item">2 - Fonás</p>
          <p class="expansion-item">10 - Rakás</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
  <div class="list-item">
    <div class="item-header">
      <span class="item-column">1</span>
      <span class="item-column">-</span>
      <span class="item-column">M3</span>
      <hr>
    </div>
    <div class="expansion-container">
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel left-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Dolgozók
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">1 - Sanyi</p>
          <p class="expansion-item">2 - Roland</p>
          <p class="expansion-item">3 - Dominik</p>
        </mat-expansion-panel>
      </div>
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel right-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Feladatok
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">4 - Varás</p>
          <p class="expansion-item">2 - Fonás</p>
          <p class="expansion-item">10 - Rakás</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
  <div class="list-item">
    <div class="item-header">
      <span class="item-column">1</span>
      <span class="item-column">-</span>
      <span class="item-column">M3</span>
      <hr>
    </div>
    <div class="expansion-container">
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel left-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Dolgozók
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">1 - Sanyi</p>
          <p class="expansion-item">2 - Roland</p>
          <p class="expansion-item">3 - Dominik</p>
        </mat-expansion-panel>
      </div>
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel right-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Feladatok
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">4 - Varás</p>
          <p class="expansion-item">2 - Fonás</p>
          <p class="expansion-item">10 - Rakás</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
  <div class="list-item">
    <div class="item-header">
      <span class="item-column">1</span>
      <span class="item-column">-</span>
      <span class="item-column">M3</span>
      <hr>
    </div>
    <div class="expansion-container">
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel left-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Dolgozók
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">1 - Sanyi</p>
          <p class="expansion-item">2 - Roland</p>
          <p class="expansion-item">3 - Dominik</p>
        </mat-expansion-panel>
      </div>
      <div>
        <mat-expansion-panel hideToggle class="expansion-panel right-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Feladatok
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">4 - Varás</p>
          <p class="expansion-item">2 - Fonás</p>
          <p class="expansion-item">10 - Rakás</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
