* {
  box-sizing: border-box;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.list-item {
  min-width: 30%;
  max-width: fit-content;
  flex: 1 1 30%;
  margin: 5px 10px;
  padding: 10px 8px;
  background-color: azure;
  box-shadow: 0px 2px 4px #6D8B74;
  border-radius: 8px;
}

hr {
  border: none;
  margin: 20px auto;
  background-color: #6D8B74;
  height: 2px;
  width: 94%;
}

.item-header {
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.item-body {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 400;
}

.item-column {
  position: relative;
  margin: 20px 15px;
}

.delete-button {
  font-size: 16px;
}
