<div class="list-container">
  <div class="list-item">
    <div class="item-header">
      <span class="item-column">1</span>
      <span class="item-column">-</span>
      <span class="item-column">Csapágy marás</span>
      <hr>
    </div>
    <div class="item-body">
      <div class="item-column">
        <span class="item-column">Gép:</span>
        <span class="item-column">CNC eszterga</span>
      </div>
      <div class="item-column">
        <span class="item-column">Munka:</span>
        <span class="item-column">Csapágy gyártás</span>
        <button class="delete-button" mat-raised-button color="warn">Törlés</button>
      </div>
    </div>
  </div>
</div>
