<div class="list-container">
  <div class="list-item" *ngFor="let task of tasks">
    <div class="item-header">
      <span class="item-column">{{task.id}}</span>
      <span class="item-column">-</span>
      <span class="item-column">{{task.name}}</span>
      <hr>
    </div>
    <div class="item-body">
      <div class="item-column">
        <span class="item-column">Gép:</span>
        <span *ngIf="task.machine; else noMachine">
          <span class="item-column">{{task.machine.id}} - {{task.machine.type}}</span>
          <button class="delete-button" mat-raised-button color="warn" (click)="deleteMachine(task.id)">Törlés</button>
        </span>
        <ng-template #noMachine>
          <span class="item-column">-</span>
        </ng-template>
      </div>
      <div class="item-column">
        <span class="item-column">Munka:</span>
        <span *ngIf="task.work; else noWork">
          <span class="item-column">{{task.work.id}} - {{task.work.name}}</span>
          <button class="delete-button" mat-raised-button color="warn" (click)="deleteWork(task.id)">Törlés</button>
        </span>
        <ng-template #noWork>
          <span class="item-column">-</span>
        </ng-template>
      </div>
    </div>
  </div>
  <div  class="list-item" *ngIf="tasks.length < 1 && errorMsg">
    <h1>{{errorMsg}}</h1>
  </div>
  <div  class="list-item" *ngIf="tasks.length < 1 && !errorMsg">
    <h1>Nincs feladat az adatbázisban!</h1>
  </div>
</div>
