<div class="list-container">
  <div class="list-item">
    <div class="item-header">
      <span class="item-column">1</span>
      <span class="item-column">-</span>
      <span class="item-column">Lakatos János</span>
      <hr>
    </div>
    <div class="item-body">
      <div class="item-column">
        <span class="item-column">Képzetség:</span>
        <span class="item-column">Szakmunkás</span>
      </div>
      <div class="item-column">
        <span class="item-column">Fizetés:</span>
        <span class="item-column">150000 Ft</span>
      </div>
      <div class="item-column">
        <span class="item-column">Státusz:</span>
        <span class="item-column">Dolgozik</span>
      </div>
      <hr>
      <div class="expansion-container">
        <mat-expansion-panel hideToggle class="expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title class="expansion-title ">
              Munkák
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-item">Gyár 10 óra</p>
          <p class="expansion-item">Gyár 16 óra</p>
          <p class="expansion-item">varoda 2 óra</p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
